*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    font-weight: 400;
    line-height: 1.73;
    position: relative;
}

ul{
    list-style: none;
}
.wrapper{
    width: 100%;
    overflow: hidden;
}

.section{
    position: relative;
    margin-bottom: 75px;
}

.container{
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row{
    margin: 0 -15px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header_content{
    display: flex;
    flex-direction: column;
}

.header_contacts{
    display: flex;
    justify-content: flex-end;
}

.nav_list{
    display: flex;
    justify-content: flex-end;
}

.contact_block{
    margin-left: 40px;
}

.social_icons{
    margin-left: 25px;
}

.header_nav{
    background-color: #fbd341;
    border-radius: 5px;
    height: 44px;
    display: flex;
    align-items: center;
}

.nav_list-item{
    padding: 0 25px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    color: #000;
}

.header_drop-opener {
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
    position: relative;

}

.header_nav-drop{
    transition: opacity 0.3s ease, visibility .3s ease;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(58, 138, 192, 0.8);
    padding: 20px 25px;
    width: 100%;
    min-width: 240px;
}

.header_drop-opener:hover > .header_nav-drop{
    
    visibility: visible;
    opacity: 1;
    
}
.header_drop-list > li:not(:last-child) {
    margin-bottom: 20px;
}

.header_drop-item{
    text-decoration: none;
    color: #fff;
}