*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

body{
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    font-weight: 400;
    line-height: 1.73;
    position: relative;
}

ul{
    list-style: none;
}
.wrapper{
    width: 100%;
    overflow: hidden;
}

.section{
    position: relative;
    margin-bottom: 75px;
}

.container{
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row{
    margin: 0 -15px;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.header_content{
    display: flex;
    flex-direction: column;
}

.header_contacts{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
    color: #fff;
}

.nav_list{
    display: flex;
    justify-content: flex-end;
}

.contact_block{
    margin-left: 40px;
}

.contact_block a{
    text-decoration: none;
    color: #fff;
}

.social_icons{
    margin-left: 25px;
}

.header_nav{
    background-color: #fbd341;
    border-radius: 5px;
    height: 44px;
    display: flex;
    align-items: center;
}

.nav_list-item{
    padding: 0 25px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    color: #000;
}

.header_drop-opener {
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
    position: relative;

}

.header_nav-drop{
    transition: opacity 0.3s ease, visibility .3s ease;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(58, 138, 192, 0.8);
    padding: 20px 25px;
    width: 100%;
    min-width: 240px;
}

.header_drop-opener:hover > .header_nav-drop{
    
    visibility: visible;
    opacity: 1;
    
}
.header_drop-list > li:not(:last-child) {
    margin-bottom: 20px;
}

.header_drop-item{
    text-decoration: none;
    color: #fff;
}

.carousel{
    max-width: 100vw;
}

.carousel_item{
    width: 100%;
    position: relative;
}

.slick-slider {
    
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fbd341;
    font-size: 14px;
}

.slick-dots li button::before {
    font-size: 14px;
    color: #fff;

    opacity: .7;

}

.slick-dots {
    bottom: 20px;
    left: -28.6%;
}

.slide-container {
    position: absolute;
    z-index: 9;
    left: 0;
    top: 45%;
    background-color: rgba(1, 73, 128, 0.5);
    height: 230px;
    width: 1300px;
    font-size: 30px;
    color: #fff;
}

.slide_text{
    margin-left: 390px;
    padding-top: 60px;
}

.slide_btn{
    width: 255px;
    height: 50px;
    color: #000;
    background-color: #fbd341;
    border-radius: 7px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}


.tabs_nav{
    list-style: none;
    margin: 0;
    padding-bottom: 45px;
}



.tabs_nav:after{
    content: '';
    display: table;
    clear: both;
}

.tabs_nav-item{
    float: left;
    width: 20%;
    padding: 0 15px;

}

.tabs_nav-why{
    float: left;
    width: calc(100%/3);
    padding: 0 15px;

}

.tabs_nav-link {
    transition: opacity .3s;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: black;
    opacity: 0.5;
    font-size: 14px;
    font-family: 'dosis', 'open sans', Arial, Helvetica, sans-serif;
    text-decoration: none;
    letter-spacing: 0.4;
}

.tabs_nav-link:hover{
    opacity: 1;
}

.tabs_nav-link i{
    font-size: 50px;
}

.tabs_nav-text{
    padding-top: 30px;
}

.tab_content:not(:first-child){
    display: none;
}

.tabs_nav-link.active{
    opacity: 1;
}

.col{
    padding: 0 15px;    
    float: left;
}

.col_1-3{
    width: calc(100%/3);
}

.text_services{
    text-align: center;
    margin-bottom: 130px;
}

.col_1-5{
    width: calc(100%/5);
}

.services_name{
    padding: 35px 0 80px;
    font-size: 14px;
    color: #a0a0a0;
}

.displayed_img {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.color_black{
    color: #000;
}
.services_padding_bottom{
    padding-bottom: 170px;
}

.section_bordered {
    border-top: solid 1px #ececec;
    padding: 130px 0;
    position: relative;
}

.text_center{
    text-align: center;

}